@import 'tailwindcss';

img {
	image-rendering: pixelated;
}

@font-face {
	font-family: 'Planes Valmore';
	src: url('/assets/Planes_Valmore.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/Roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Planes Valmore', 'Roboto', sans-serif;
	background-color: #030712;
}

.cb-outline {
	background-color: color-mix(in oklab, #000 75%, transparent);
	outline-width: 2px;
	outline-color: #030712;
	outline-style: var(--tw-outline-style);
}
